doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/site.css")
    link(rel="stylesheet", type="text/css", href="/vendor/toastr/toastr.css")
  body(ng-app='app')
    block main-content
    include scripts